/* © 2019 Hearthstone Chat | Gregg Jewell */

/* HTML Elements */
* {
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: 400px;
	margin: 0;
	outline: none;
	overflow: hidden;
	padding: 0;
}

html {
	height: 100vh;
	width: 100vw;
}

body {
	background: #2b2314;
	height: 100vh;
	scrollbar-face-color: #231c0f;
	scrollbar-shadow-color: #2b2314;
	scrollbar-track-color: #2b2314;
	scrollbar-arrow-color: #231c0f;
	width: 100vw;
}

.flex-center, .icon {
	align-items: center;
	display: flex;
}
.flex-start {
	align-items: flex-start;
	display: flex;
}

.icon-size-1212 {
	height: 12px;
	margin-right: 10px;
	min-width: 12px;
	width: 12px;
}
.icon-size-1616 {
	height: 16px;
	margin-right: 10px;
	min-width: 16px;
	width: 16px;
}
.icon-size-1818 {
	height: 18px;
	margin-right: 10px;
	min-width: 18px;
	width: 18px;
}
.icon-size-2020 {
	height: 20px;
	margin-right: 10px;
	min-width: 20px;
	width: 20px;
}

/* Header */
#header {
	align-items: center;
	background: #231c0f;
	background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.05)),to(hsla(0,0%,100%,0)));
    background-image: linear-gradient(180deg,hsla(0,0%,100%,.05),hsla(0,0%,100%,0));
	border: solid 1px #57524f;
	border-bottom: solid 1px transparent;
	box-shadow: 0 0 0 1px rgba(16,22,26,.4);
	color: #f5f8fa;
	cursor: default;
	display: flex;
	height: 40px;
	font-size: 24px;
	font-weight: 600;
	padding: 0 15px 0 15px;
	width: 100%;
}
#header-opponent {
	align-items: center;
	cursor: pointer;
	display: flex;
}
#header-opponent #opponentIcon { margin-right: 8px; }
#blockIcon {
	cursor: pointer;
	margin-left: 10px;
}

/* Menu Options */
#menu {
	align-items: center;
	display: flex;
	height: 20px;
	position: absolute;
	right: 0px;
	top: 10px;
}
#menu div svg path { fill: #63563e;}
#menu div:hover svg path { fill: #f5f8fa; }
#menu div {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 20px;
	float: right;
	margin-right: 15px;
	min-width: 20px;
	width: 20px;
}

/* START DISABLED OPTIONS */
#profanityIcon { display: none !important; }
/*#soundIcon { display: none !important; } */

/* END DISABLED OPTIONS */

/* Chat Room */
#chat {
	background: #2b2314;
	border: solid 1px #57524f;
	border-bottom: solid 1px transparent;
	border-top: solid 1px transparent;
	color: #f5f8fa;
	cursor: default;
	height: calc(100% - 91px); /* Adjust for header & message heights */
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0 15px 0 15px;
	width: 100%;
	word-wrap: break-word;
}
#chat div {margin-bottom: 10px; }
/*#chat div:first-child { margin-top: 5px; }*/
#chat div:last-child { margin-bottom: 5px; }

/* Chat Message Markup */

.icon-opp svg path { fill: #f5f8fa; }
.message-opp { color: #f5f8fa; }
.icon-me svg path { fill: #d3b378; }
.message-me { color: #d3b378; }
.icon-app svg path { fill: #48bdef; }
.message-app { color: #48bdef; font-style: italic; }

/* Chat Top/Bottom Spacers */
.chat-spacer-top {
	border: solid 1px #57524f;
	border-bottom: solid 1px transparent;
	height: 7px;
	width: 100%;
}

.chat-spacer-bottom {
	border: solid 1px #57524f;
	border-bottom: solid 1px transparent;
	border-top: solid 1px transparent;
	height: 7px;
	width: 100%;
}

/* Message Textbox */
#message {
	background-color: #18181a;
	border: solid 1px #57524f;
	box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.3), inset 0 1px 1px rgba(16,22,26,.4);
	color: #d3b378;
	font-weight: 400;
	height: 36px;
	padding: 6px 10px 6px 10px;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.autocomplete {
  display: inline-block;
  margin: 10px;
  position: relative;
  width: 100%;
}
.autocomplete-items {
  /*border: solid 1px #57524f;*/
  border: solid 1px transparent;
  border-bottom: none;
  border-top: none;
  color: #d3b378;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  position: absolute;
  right: 0;
  bottom: 36px;
  z-index: 99;
}
.autocomplete-items div {
  background-color: rgba(24, 24, 26,0.7); 
  /*border-top: solid 1px #57524f;*/
  border-top: solid 1px transparent;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}
.autocomplete-items div:hover { background-color: rgba(34, 34, 35,0.9); }
.autocomplete-active { background-color: rgba(6, 38, 8,0.7) !important; }